@font-face {
    font-family: Staaliches;
    src: url(../fonts/Staatliches-Regular.ttf);
}

.body {
    position: relative;
}

.image {
    background-image: url(../assets/hero-logo.png), url(../assets/hero-image.png), url(../assets/hero-logo.png);
    background-size: 150px 150px, cover;
    background-repeat: no-repeat, no-repeat;
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    opacity: 0.9;
}

.forms {
    background-color: #295596;
    width: 50%;
    display: flex;
    height: 500px;
}

.img-text {
    padding-top: 250px;
}

.image .first-text {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    text-align: cn;
    color: white;
    font-weight: bold;
    font-size: 48px;
    display: block;
}

.image .second-text {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: block;
}

.forms-title {
    color: white;
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.sub {
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

.container-forms {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 200px;
}

input[type=text], select {
    width: 100%;
    padding: 8px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 2px solid white;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: #295596;
    color: white;
}

.button {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: #ef323d;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.select {
    width: 100%;
    padding: 8px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 2px solid white;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: #295596;
    color: white;
}

::placeholder {
    color: white;
}

.phases {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.img-form {
    background-color: #ef323d;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.subphases {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 2;
}

.text-form {
    color: #295596;
    padding-top: 15px;
    font-weight: bold;
    display: flex;
}

.phases-title {
    font-family: Staaliches;
    font-size: 32px;
    padding-top: 40px;
    padding-bottom: 30px;
    color: #295596;
    text-align: center;
    text-transform: uppercase;
}

.arrow {
    padding: 40px;
}

.reasons-title {
    padding-top: 100px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    font-family: Staaliches;
    font-size: 32px;
    text-transform: uppercase;
}

.reasons {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 10%;
}

.sub-reasons {
    text-align: center;
    width: 300px;
    color: white;
    margin-right: 20px;
}

.sub-reasons:last-child {
    margin-right: 0;
}

.img-reasons {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: 0 auto 10px;
}

.text1-reasons {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.text2-reasons {
    line-height: 1.5;
}

.back {
    background-image: url(../assets/background.png);
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.curses-main {
    font-family: Staaliches;
    margin: 100px 0 40px;
    color: #295596;
    text-align: center;
    font-size: 32px;
}

.img-curses1 {
    background-image: url(../assets/course-kids.png);
    background-repeat: no-repeat;
    background-size: 300px 300px, cover;
    height: 300px;
    width: 300px;
}

.img-curses2 {
    background-image: url(../assets/course-juniors.png);
    background-repeat: no-repeat;
    background-size: 300px 300px, cover;
    height: 300px;
    width: 300px;
}

.arrow-reasons {
    display: none;
}

.img-curses3 {
    background-image: url(../assets/course-teens.png);
    background-repeat: no-repeat;
    background-size: 300px 300px, cover;
    height: 300px;
    width: 300px;
}

.text-curses {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    padding: 20px
}

.curses {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-evenly;
}

.title-curses {
    color: white;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
}

.subtitle-curses {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.description-curses {
    color: white;
    padding-top: 100px;
    padding-bottom: 20px;
    line-height: 1.5;
    
}

.testimony-card {
    border: 2px solid #295596;
    border-radius: 20px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.testimony-content {
    color: #295596;
    margin-bottom: 10px;
    
}

blockquote {
    border: none;
}

.testimony-content::before{
    content: '';
    background-image: url(../assets/aspas1.png);
    height: 15px;
    width: 10px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
    
}

.testimony-content::after{
    content: '';
    background-image: url(../assets/aspas2.png);
    height: 15px;
    width: 10px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}



.testimony-student {
    color: #295596;
    font-weight: 900;
    align-self: flex-end;
}

.testimony-data {
    color: #295596;
    font-weight: 500;
    align-self: flex-end;
}

.testimony-title {
    font-family: Staaliches;
    padding-top: 40px;
    padding-bottom: 30px;
    color: #295596;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
}

.testimony {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    .image-forms {
        height: 20%;
    }
    .image {
        background-image: url(../assets/hero-logo.png), url(../assets/hero-image.png), url(../assets/hero-logo.png);
        background-size: 150px 150px, 100vw 100vw;
        background-repeat: no-repeat, no-repeat;
        width: 100vw;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.9;
    }
    .img-text {
        padding-top: 250px;
    }
    .image .first-text {
        font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: flex;
        align-items: center;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 32px;
        display: block;
    }
    .image .second-text {
        font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        font-weight: bold;
        font-size: 16px;
        display: block;
        padding-bottom: 10px;
    }
    .forms {
        background-color: #295596;
        width: 100%;
        display: flex;
        height: 105vh;
    }
    .container-forms {
        padding-top: 5vh;
        padding-left: 10vw;
        padding-right: 10vw
    }
    input[type=text], select {
        width: 100%;
        padding: 8px 20px;
        margin: 10px 0;
        display: inline-block;
        border: 2px solid white;
        border-radius: 50px;
        box-sizing: border-box;
        background-color: #295596;
        color: white;
    }
    .button {
        width: 100%;
        display: inline-block;
        text-align: center;
        border-radius: 50px;
        box-sizing: border-box;
        background-color: #ef323d;
        color: white;
    }
    .select {
        width: 100%;
        padding: 8px 20px;
        margin: 10vh 0;
        display: inline-block;
        border: 2px solid white;
        border-radius: 50px;
        box-sizing: border-box;
        background-color: #295596;
        color: white;
    }
    ::placeholder {
        color: white;
    }
    .phases {
        padding-left: 20%;
        padding-right: 15%;
        padding-bottom: 35px;
        display: flex;
        justify-content: start;
        text-align: center;
        align-items: center;
    }
    .phases-title {
        font-family: Staaliches;
        font-size: 32px;
        padding-top: 40px;
        padding-bottom: 30px;
        color: #295596;
        text-align: center;
        text-transform: uppercase;
    }
    .arrow {
        padding: 40px;
    }
    .subphases {
        padding-left: 50px;
    }
    .reasons-title {
        padding-top: 100px;
        padding-bottom: 20px;
        color: white;
        text-align: center;
        font-family: Staaliches;
        font-size: 32px;
        text-transform: uppercase;
    }
    .reasons {
        display: flex;
        justify-content: start;
    }
    .sub-reasons {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .img-reasons {
        border-radius: 50%;
        height: 120px;
        width: 120px;
    }
    .text1-reasons {
        color: white;
        width: 250px;
        padding-left: 10px;
        padding-right: 30px;
    }
    .text2-reasons {
        color: white;
        padding-left: 10px;
        padding-right: 10px;
    }
    .back {
        background-image: url(../assets/background.png);
        width: 100%;
        height: 550px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .arrow-reasons {
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        padding-right: 30px;
    }
    .curses {
        display: block;
        height: auto;
    }
    .img-curses {
        width: 300px;
        height: 300px;
        background: cover;
        margin: 20px auto;
    }
    .text-curses {
        padding: 20px;
    }
    .testimony {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .testimony-card {
        width: 70%;
        margin: 20px;
    }
}

.carousel-phases{
    display: flex;
}

.carousel-reasons{
    display: flex;
}